.history-title {
    padding-top: 20px;
    padding-left: 5%;
    color: #fefefe;
    user-select: none;
    font-size: 17px;
    font-weight: 630;
    margin-bottom: 10px;
}

.history {
    height: 100vh;
    width: calc(100% - 80px);
    position: absolute;
    top: 0;
    left: 80px;
    background-color: #262837;
}

.history-report {
    height: 100vh;
    width: 100%;
    position: relative;
}

.history-header {
    width: 100%;
    height: 65px;
    position: relative;
}

.history-order-report {
    position: absolute;
    bottom: 0;
    right: 5%;
    margin: 30px 0;
    width: 90%;
    height: calc(100vh - 65px - 1px - 60px);
    box-sizing: border-box;
    overflow-y: auto;
}

.history-order-report > table tr > th,
.history-order-report > table tr > td {
    padding: 8px 8px 8px 10px !important;
}

.history-order-report > table tr > td {
    cursor: pointer;
    color: #b1afaf;
}

.history-order-report > table tr > th:nth-child(1),
.history-order-report > table tr > td:nth-child(1) {
    width: 10%;
}
.history-order-report > table tr > th:nth-child(2),
.history-order-report > table tr > td:nth-child(2) {
    width: 25%;
}
.history-order-report > table tr > th:nth-child(3),
.history-order-report > table tr > td:nth-child(3) {
    width: 20%;
}
.history-order-report > table tr > th:nth-child(4),
.history-order-report > table tr > td:nth-child(4) {
    width: 20%;
}
.history-order-report > table tr > th:nth-child(5),
.history-order-report > table tr > td:nth-child(5) {
    width: 25%;
}
