.manage-order {
    height: 100vh;
    width: calc(100% - 70px);
    position: absolute;
    top: 0;
    left: 70px;
    background-color: #262837;
}

.manage-order .title {
    margin-top: 20px;
}

.manage-order .line1 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.manage-order .row-title {
    width: calc(0.9 * (100vw - 70px));
    left: calc(0.05 * (100vw - 70px));
    display: inline-flex;
    word-break: break-all;
    hyphens: auto;
}

.manage-order .row-title div:nth-child(1) {
    width: 7%;
}
.manage-order .row-title div:nth-child(2) {
    width: 17%;
}
.manage-order .row-title div:nth-child(3) {
    width: 20%;
}
.manage-order .row-title div:nth-child(4) {
    width: 28%;
}
.manage-order .row-title div:nth-child(5) {
    width: 13%;
}
.manage-order .row-title div:nth-child(6) {
    width: 8%;
}
.manage-order .row-title div:nth-child(7) {
    width: 7%;
}

.manage-order .manage-list-order {
    overflow-y: auto;
    height: calc(100% - 145px);
}

.manage-order .manage-list-order div {
    color: #b1afaf;
    cursor: pointer;
}
