.manage-order {
    height: 100vh;
    width: calc(100% - 80px);
    position: absolute;
    top: 0;
    left: 80px;
    background-color: #262837;
}

.manage-order .title {
    margin-top: 20px;
}

.manage-order .line {
    margin-top: 20px;
    margin-bottom: 20px;
}

.manage-order .manage-list-order {
    position: relative;
    left: 5%;
    width: 90%;
    overflow-y: auto;
    height: calc(100% - 120px);
}
.manage-list-order > table > tbody > tr > th {
    padding: 15px;
}

.manage-list-order > table > tbody > tr > td {
    padding: 10px 10px 10px 15px;
    color: #b1afaf;
    cursor: pointer !important;
}

.manage-list-order > table tr > thead:nth-child(1),
.manage-list-order > table tr > tbody:nth-child(1) {
    width: 10%;
}
.manage-list-order > table tr > thead:nth-child(2),
.manage-list-order > table tr > tbody:nth-child(2) {
    width: 15%;
}
.manage-list-order > table tr > thead:nth-child(3),
.manage-list-order > table tr > tbody:nth-child(3) {
    width: 15%;
}
.manage-list-order > table tr > thead:nth-child(4),
.manage-list-order > table tr > tbody:nth-child(4) {
    width: 20%;
}
.manage-list-order > table tr > thead:nth-child(5),
.manage-list-order > table tr > tbody:nth-child(5) {
    width: 15%;
}

.manage-list-order > table tr > thead:nth-child(6),
.manage-list-order > table tr > tbody:nth-child(6) {
    width: 15%;
}

.manage-list-order > table tr > thead:nth-child(7),
.manage-list-order > table tr > tbody:nth-child(7) {
    width: 10%;
}
