.setting {
    height: 100vh;
    width: calc(100% - 80px);
    position: absolute;
    top: 0;
    left: 80px;
    background-color: #262837;
    box-sizing: border-box;
    overflow-y: auto;
}

.setting .title {
    left: 0;
    padding-left: 0;
    font-size: 20px;
}
.setting .line {
    width: calc(100% - 80px);
}
.setting-info {
    height: max-content;
    width: 42%;
    position: absolute;
    top: 0;
    left: 5%;
    padding-bottom: 30px;
}
.setting-info div {
    font-size: 17px;
    color: #fefefe;
    margin: 30px 40px;
    user-select: none;
}

.setting-info div input {
    margin-top: 10px;
    height: 40px;
    width: 100%;
    background-color: #2e303f;
    border: 1px solid #393c49;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    color: #9ba4b1;
    font-size: 15px;
    border-radius: 8px;
    display: block;
}

.setting-info div .date-of-birth {
    padding-left: 20px;
    padding-right: 10px;
    width: 180px;
}

.setting-password {
    height: 100vh;
    width: 42%;
    position: absolute;
    top: 0;
    right: 5%;
}

.setting-password div {
    font-size: 17px;
    color: #fefefe;
    margin: 30px 40px;
    user-select: none;
}

.setting-password div input {
    margin-top: 10px;
    height: 40px;
    width: 100%;
    background-color: #2e303f;
    border: 1px solid #393c49;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    color: #9ba4b1;
    font-size: 15px;
    border-radius: 8px;
    display: block;
}

.settingg button {
    margin-top: 10px;
    height: 40px;
    padding: 5px 10px;
    border: 0;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

.settingg button:nth-of-type(1) {
    position: relative;
    left: 40px;
    color: #fefefe;
    background-color: #eb7c68;
}

.settingg button:nth-of-type(2) {
    position: absolute;
    right: 40px;
    background-color: transparent;
    border: 1px solid #eb7c68;
    color: #eb7c68;
}

@media only screen and (min-width: 740px) and (max-width: 1024px) {
    .setting-info {
        width: 50%;
        left: 0;
    }
    .setting-password {
        width: 50%;
        right: 0;
    }
}

@media only screen and (max-width: 740px) {
    .setting {
        display: block;
        height: calc(100vh - 70px);
        top: 70px;
        left: 0;
        width: 100%;
    }
    .setting-info {
        position: relative;
        width: 100%;
        left: 0;
        height: max-content;
        margin-bottom: 100px;
    }
    .setting-password {
        position: relative;
        left: 0;
        width: 100%;
        height: max-content;
    }
}
